In [1]:
import pandas as pd
import pickle

In [2]:
test = pd.read_csv('test.csv')
test

        id        lat        lon
0     3084  55.782276  49.148234
1     3085  56.841500  35.853059
2     3086  55.356780  86.156697
3     3087  56.755087  60.703962
4     3088  59.907438  30.250297
...    ...        ...        ...
1024  4108  51.692337  39.143301
1025  4109  56.309197  43.987060
1026  4110  59.898712  30.484624
1027  4111  54.991157  73.407459
1028  4112  54.377385  48.565615

[1029 rows x 3 columns]

In [3]:
with open('model.pickle', 'rb') as file:
  model_from_pickle = pickle.load(file)

In [4]:
predictions = model_from_pickle.predict(test.drop(columns=['id']))

submission = test[['id', 'lon']]
submission['lon'] = predictions
submission.rename(columns={'lon': 'score'}, inplace=True)

submission.to_csv('submission.csv', sep=',', index=False)

/var/folders/k6/5hyk6q2d373gjlf_748hr6f40000gn/T/ipykernel_87211/688742281.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['lon'] = predictions
/var/folders/k6/5hyk6q2d373gjlf_748hr6f40000gn/T/ipykernel_87211/688742281.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission.rename(columns={'lon': 'score'}, inplace=True)